.button {
    display: inline-block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
}

.button.sign-in {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.button.sign-in.active{
    background: #3a6e7a;
}

.button.sign-up.active{
    background: #3a6e7a;
}

.button.sign-up{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.btn-container{
    display: inline-block;
    background-color: beige;
}

.main-container{
    display:flex;
    justify-content: center;
}


.title-home{
    margin-top: 1em;
    text-align: center;
}
