.inputStyle{
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}
body{
    background-color: RGB(255, 255, 244);
    font-family: cursive;
}

.title{
    text-align: center;
}

.semester-heading{
    list-style: none;
    font-size: large;
    color: black;
    padding-inline-start: 0;
}

.semester-heading ul {
    padding-inline-start: 0rem;
}
.semester-heading p{
    padding-inline-start: 0rem;
}