#courses{
    list-style: none;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.course-input{
    width: 100px;
    height: 10px;
    margin-left: 3rem;
    padding: 0.5rem;
}

.course-span{
    display:flex;
    align-items: center;
}

a {
    font-size: medium;
    text-decoration: none;
}

a:hover{
    color: orange;
}


.course{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    
    /* background-color: inherit; */
    background-color: RGB(95, 230, 46);
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.btn:hover{
    background-color: green;
}


.delete-course-btn{
    border: 1px solid grey;
    background-color: orange;
    margin-left: 1rem;
    border-radius: 10%;
}

.delete-course-btn:hover{
    background-color:red;
    cursor:pointer;
}

h2{
    font-family: cursive;
}

.del-sem-btn{
    border-radius: 2rem;
    background-color: RGB(230, 46, 64);
    color: white;
    cursor: pointer;
}

.del-sem-btn:hover{
    background-color:red;
}

